.axis path,
.axis line {
      fill: none;
      font: 10px sans-serif;
      stroke: #000;
      shape-rendering: crispEdges;
}

.legend {
        padding: 5px;
        font: 10px sans-serif;
        background: yellow;
        box-shadow: 2px 2px 1px #888;
}

.tooltip {
        background: #eee;
        box-shadow: 0 0 5px #999999;
        color: #333;
        font-size: 12px;
        left: 130px;
        padding: 10px;
        position: absolute;
        text-align: center;
        top: 95px;
        z-index: 10;
        display: block;
        opacity: 0;
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

div#corpo{
width:69%;
height: 300px;
background: #ffffff;
box-shadow: 0px 0px 0px rgba(0,0,0,.5);
font: 30px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

div#corpo1{
width:100%;
height: 250px;
background: #ffffff;
box-shadow: 0px 0px 0px rgba(0,0,0,.5);
font: 20px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

div#corpo1-1{
width:100%;
height: 250px;
background: #ffffff;
font: 10px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

div#corpo1-2{
width:0%;
height: 250px;
background: #ffffff;
font: 10px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: #000080;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.legend {                                                   
  font-size: 12px;                                          
}                                                           
rect {                                                      
  stroke-width: 2;                                          
} 
