body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

div#corpo{
width: 95%;
height: 800px;
background: #ffffff;
box-shadow: 0px 0px 0px rgba(0,0,0,.5);
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

div#corpo3{
width:100%;
height: 80px;
background: #ffffff;
box-shadow: 0px 0px 0px rgba(0,0,0,.5);
font: 30px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

