body{
background-color:#ffffff;
text-align:center;
}

div#cabecalho{
width:69%;
height: 100px;
background: #dddddd;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);
font: 10px sans-serif;
text-align: center;
margin: -20px auto 10px auto;
padding: 10px;
}

div#corpo{
width:69%;
height: 800px;
background: #ffffff;
box-shadow: 0px 0px 0px rgba(0,0,0,.5);
font: 30px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}


div#corpo1{
width:100%;
height: 750px;
background: #ffffff;
box-shadow: 0px 0px 0px rgba(0,0,0,.5);
font: 30px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

div#corpo1-1{
width:100%;
height: 750px;
background: #ffffff;
font: 10px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

div#corpo1-2{
width:0%;
height: 750px;
background: #ffffff;
font: 10px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

div#rodape{
width:69%;
height: 20px;
background: #dddddd;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);
font: 10px sans-serif;
text-align: center;
margin: -10px auto 10px auto;
padding: 10px;
}

.estados{
  text-align: left
} 

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: #000080;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.legend {                                                   
  font-size: 12px;                                          
}                                                           
rect {                                                      
  stroke-width: 2;                                          
} 
